<div class="container-left">
  <%= render 'events/submenu' %>
</div>
<div class="container-right">
  <h1><%= @event.name %></h1>

  <% semantic_form_for :event_participant, @event_participant, :url => event_participation_path(@event, UrlStore.encode(@event_participant.id)), :html => {:method => :put} do |f| %>
    <%= render 'form' %>
    <% f.buttons do %>
      <%= f.commit_button :participate %>
    <% end %>
  <% end %>
</div>
