<h1>Muuda talguid</h1>

<% semantic_form_for @event, :url => admin_event_path(@event.id) do |f| %>
  <%= render 'form' %>

  <%= f.buttons %>
<% end %>

<h2><%= t('.roles') %></h2>

<%= render :partial => 'shared/object_roles' %>