<h1><%= t('.title') %></h1>

<table border="1">
<% for settlement in @settlements %>
<tr>
  <td><%=h settlement.name %></td>
  <td>
    <%= link_to 'Muuda', edit_admin_county_municipality_settlement_path(@county, @municipality, settlement) %>
  </td>
</tr>
<% end %>
</table>

<%= link_to 'Lisa', new_admin_county_municipality_settlement_path(@county, @municipality) %>