<h1><%= t('.title', :municipality => @municipality.label) %></h1>

<% semantic_form_for @settlement, :url => admin_county_municipality_settlements_path(@county, @municipality) do |f| %>
  <%= render 'form' %>
  <%= f.buttons %>
<% end %>