form.formtastic acronym { display: none; }

form.formtastic abbr {
  color: #c00;
  margin-left: 2px;
}

form.formtastic fieldset { display: block; }

form.formtastic fieldset ol li fieldset ol {
  padding: 0;
}

form.formtastic fieldset ol li { 
  margin: 0;
  padding-bottom: 13px;
  position: relative;
  width: 426px;
}

form.formtastic fieldset ol li label {
  display: block;
  float: none;
  width: 100%;
}

form.formtastic fieldset ol li p.inline-hints { display: none; }
form.formtastic fieldset ol li p.inline-errors { margin: 0; }

html[xmlns] form.formtastic fieldset ol li.hidden {
  display: none;
}

form.formtastic fieldset.buttons {
  padding: 0;
}

form.formtastic fieldset ol li.select select {
  width: 100%;
  font-size: 16px;
}

form.formtastic fieldset ol li.string input,
form.formtastic fieldset ol li.numeric input,
form.formtastic fieldset ol li.password input,
form.formtastic fieldset ol li.text textarea {
  width: 408px;
  border: 1px solid #aaaaaa;
  padding: 5px 8px 5px;
  min-height: 18px;
  background: white url('../images/textbox.gif') repeat-x top left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
}

/** Check boxes **/
form.formtastic fieldset ol li.check_boxes fieldset ol {
  padding: 0%;
  width: 100%;
}

form.formtastic fieldset ol li fieldset legend, form.formtastic fieldset ol li fieldset legend.label label {
  position: static;
  width: 100%;
}

/** Extra fields on form **/
form.formtastic div.form-extra fieldset ol li {
  padding-bottom: 5px;
}

form.formtastic div.form-extra fieldset ol li.select select {
  width: 395px;
}

form.formtastic fieldset ol li.text textarea.small_text {
  font-size: 13px;
}


form.formtastic div.form-extra fieldset ol li.string input,
form.formtastic div.form-extra fieldset ol li.numeric input,
form.formtastic div.form-extra fieldset ol li.text textarea {
  width: 378px;
}

form.formtastic div.form-extra fieldset ol li.boolean label {
  padding-left: 0;
}

table.dataentry thead th {
  font-weight: normal;
  padding: 5px 7px;
}

table.dataentry tbody.inputs td {
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  padding: 5px;
}

table.dataentry tbody.inputs tr.first td {
  border-top: 1px solid #a9a9aa;
  background: url('../images/textbox.gif') repeat-x scroll left top white;
}

table.dataentry tbody.inputs tr.active td {
  background: #f5fcff;
}

table.dataentry tbody.inputs td.first {
  border-left: 1px solid #a9a9aa;
}

table.dataentry tbody.inputs td.last {
  border-right: 1px solid #a9a9aa;
}

table.dataentry tbody.inputs td input {
  background: transparent;
  border: transparent;
  outline: none;
  padding: 2px;
  font-size: 16px;
  width: 130px;
}

table.dataentry tbody.inputs td.last select {
}

table.dataentry tbody.inputs td.error input {
  background: url('../images/invalid_line.gif') repeat-x scroll left bottom transparent;
}

table.dataentry tbody.inputs td.error select {
  background: url('../images/invalid_line.gif') repeat-x scroll left bottom transparent;
}

table.dataentry tbody.footer td {
  background-color: #d9f5ff;
  border-right: 1px solid #a9a9aa;
  border-bottom: 1px solid #a9a9aa;
  border-left: 1px solid #a9a9aa;
  padding: 5px 10px;
}