<div id="footer">
   <div class="inner pending">
     <a href="#">Vaata meid Facebookis</a> &nbsp; &nbsp; <a href="#">Jälgi meid Twitteris</a> &nbsp; &nbsp; 
     <a href="#">Liitu korraldustiimiga</a> &nbsp; &nbsp; <a href="#">Kontaktid</a>
   </div>
</div>