<div id="footer">
   <div class="inner">
     <a href="http://www.facebook.com/teemeara"><%= t('.facebook') %></a> &nbsp; &nbsp;
     <a href="http://twitter.com/teemeara"><%= t('.twitter') %></a> &nbsp; &nbsp; 
     <a href="http://www.teemeara.ee/loo-kaasa"><%= t('.join_us') %></a> &nbsp; &nbsp;
     <a href="http://www.teemeara.ee/kontakt"><%= t('.contact') %></a>
   </div>
</div>