<div id="footer">
   <div class="inner">
     <a href="http://www.facebook.com/teemeara">Vaata meid Facebookis</a> &nbsp; &nbsp;
     <a href="http://twitter.com/teemeara">Jälgi meid Twitteris</a> &nbsp; &nbsp; 
     <a href="http://www.teemeara.ee/loo-kaasa">Liitu korraldustiimiga</a> &nbsp; &nbsp;
     <a href="http://www.teemeara.ee/tegijad">Kontaktid</a>
   </div>
</div>