<h1>Teeme Ära Talgud</h1>

<table width="100%">
<tr>
  <td valign="top"><%= render 'events/map' %></td>
  <td width="200px" valign="top">
    <b>Viimati lisatud</b>
    
    <br/>
    
    <ul>
      <% for event in @events %><li><%= link_to event.name, event_path(event) %></li><% end %>
    </ul>
  </td>
</tr>