<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">

  var event_locations_url = '<%= map_events_url(:format => :json) %>';
  var map, bounds, infowindow;

  function showMap() {
      map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6, scrollwheel: false,
          center: new google.maps.LatLng(58.564, 25.729),
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      
      bounds = new google.maps.LatLngBounds();
      infowindow = new google.maps.InfoWindow({maxWidth: 350});
      
      jQuery.getJSON(event_locations_url, addLocations);
  }
  
  /**
   *
   */
  function addLocations(data) {
      jQuery.each(data, function(i, point) {
          if (Math.abs(point.latitude) >= 0.1 && Math.abs(point.longitude) >= 0.1) {
              var position = new google.maps.LatLng(point.latitude, point.longitude);
              bounds.extend(position);
              
              var marker = new google.maps.Marker({position: position, map: map, title: point.name});
              
              google.maps.event.addListener(marker, 'click', function() {
                  var cbody = '<div class="infowindow">';
                  cbody += '<h3><a href="' + point.url + '">' + point.name + '</a></h3>';
                  cbody += '<span class="object-type">' + point.event_type + '</span> ' + point.address;
                  if (point.aim_desc && point.aim_desc != '') {
                    cbody += '<div class="label">Tööde eesmärk</div>' + point.aim_desc;
                  }
                  if (point.job_desc && point.job_desc != '') {
                    cbody += '<div class="label">Tööde kirjeldus</div>' + point.job_desc;
                  }
                  if (point.vacancies && point.vacancies != '') {
                    cbody += '<div class="label">Vabu kohti</div>' + point.vacancies;
                  }
                  cbody += '<div style="margin-top: 10px;"><a href="' + point.url + '">Vaata lähemalt &raquo;</a></a>';
                  cbody += '</div>';
                
                  infowindow.setContent(cbody);
                  infowindow.open(map, marker);
              });
          }
      });
      
      map.setCenter(bounds.getCenter());
      map.fitBounds(bounds);
  }
  
  jQuery(document).ready(showMap);
</script>