<div class="container-left">
  <%= render 'submenu' %>
</div>
<div class="container-right">
  <h1><%= t('.title') %></h1>

  <% semantic_form_for @event do |f| %>
    <%= render 'form' %>
    
    <div class="submit-container round">
      <% f.buttons do %>
        <%= f.submit 'Salvesta talgu', :class => 'submit' %>
      <% end %>
    </div>
  <% end %>
</div>
