<div class="container-left">
  <%= render 'submenu' %>
  
  <div style="text-align: right; width: 168px; margin-top: 20px;">
    <% form_tag map_events_path(:format => :json), :method => :get, :class => :filter, :id => :filter do %>
    <%= render 'filter' %>
    <% end %>
  </div>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function() {
        $('form#filter').submit(function() {
            jQuery.getJSON(this.action + '?' + $(this).serialize(), updateLocations);
            return false;
        });
    });
  </script>
</div>
<div class="container-right">
  <div class="map-search">
    <div id="map" style="height: 500px;"></div>
  </div>
  
  <%= render 'map' %>
</div>
