<div class="container-left">
  <%= render 'submenu' %>
</div>
<div class="container-right">
  <h1><%= t('.title') %></h1>

  <% for event in @events %>
  <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</div>
