<div class="container-left">
  <%= render 'submenu' %>
</div>
<div class="container-right">
  <h1>Registreeri oma talgud</h1>
  <h2>
    Uue talgu lisamine v천tab k천igest 10 minutit, kuid esimesel mail v천id saada terve 
    taluhoovi-t채ie abilisi, kas pole tore? Ainult suppi ja simmanit pead neile pakkuma. 
    Napsutamine on seejuures halb komme.
  </h2>

  <% semantic_form_for @event do |f| %>
    <%= render 'form' %>
    
    <div class="submit-container round">
      <% f.buttons do %>
        <%= f.submit 'Salvesta talgu', :class => 'submit' %>
      <% end %>
    </div>
  <% end %>
</div>
