<tr class="filter_notify"<%= ' style="display: none;"' unless filtering? %>>
  <td colspan="<%= colspan %>"><%= t('admin.common.filter_applied') %> <%= link_to t('admin.common.clear_filter') %></td>
</tr>